<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="TextProcessor" Language="1033" Version="1.0.0.0" Manufacturer="SwinburneStudent" UpgradeCode="c82ac965-b43a-4c02-9439-8626cdb4ee4c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="TextProcessor" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="TextProcessor" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="MainExecutable">
				<File Id="TextProcessorEXE" Source="$(var.1.2.TargetPath)" KeyPath="yes" />
			</Component>
			<Component Id="Lib1DLL">
				<File Id="TextProcessorLibDLL" Source="$(var.1.2.TargetDir)TextProcessorLibrary.dll" />
			</Component>
			<Component Id="Lib2DLL">
				<File Id="TextProcessorUtilsDLL" Source="$(var.1.2.TargetDir)TextProcessorUtils.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>